{
    "presets": ["next/babel"],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false,
                "minify": false,
                "pure": true,
                "transforms": {
                    "injectGlobal": false,
                    "css": false,
                    "css.modules": false,
                    "js": false,
                    "jsx": false,
                    "typescript": false
                }
            }
        ]
    ]
}